*.swp
*.pyc
dist/
build/
pyscopus/
*.ipy*
python_modularity_maximization.egg-info/
_site/dist
_site/data
_site/build
_site/python_modularity_maximization.egg-info
_site/requirements.txt
_site/modularity_maximization
_site/setup.py
_site/LICENSE
_site/README.rst
